<div class="container-fluid">
    <div id="border">
        <nav class="navbar navbar-inverse top">
        <div class="container">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default">sign-up</button>
                <button type="button" class="btn btn-default">login</button>
                <button type="button" class="btn btn-default">logout</button>
                <button type="button" class="btn btn-default">contact</button>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <div id="title">Buffalo Feathers</div>
    </div>
    <h3 id="title">Jesse Payne: A Life of Blocks</h3>
        <div class='line'></div>
            <div class="relative">
                <a href="/music">
                    <div class="block btn btn-default">                
                    <div class="divtext">music</div>
                    </div>
                </a>
                <a href="/code">
                    <div class="blocktoo btn btn-default">
                    <div class="divtext">code</div>
                    </div>
                </a>
                <a href="/literature">
                    <div class="blockright btn btn-default">
                    <div class="divtext">literature</div>
                    </div>
                </a>
                <a href="/interests">
                    <div class="blockleft btn btn-default">
                    <div class="divtext">interests</div>
                    </div>
                </a>
            </div>
        <div class='line'></div>
        <div id="mail">
            <a id="title" href="mailto:jessepayne@gmail.com?Subject=Saying%20Hello" target="_top">contact me</a>
        </div>

        </div>
</div>
    </div>







</div>