<div class="container-fluid">
    <div id="border">
    <div class="jumbotron">
        <div id="title">Buffalo Feathers</div>
    </div>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default">sign-up</button>
                <button type="button" class="btn btn-default">login</button>
                <button type="button" class="btn btn-default">logout</button>
                <button type="button" class="btn btn-default">contact</button>
            </div>
        </div>
    </nav>
    </div>







</div>